:root {
--white: #FFFFFF;
--black: #000000;
--very-light-pink: #C7C7C7;
--text-input-field: #F7F7F7;
--hospital-green: #ACD9B2;
--sm: 14px;
--md: 16px;
--lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.menu {
    display: none;
    height: 20px;
    align-self: center;
}
/*todo el css del navbar*/

nav {
 display: flex;
 justify-content: space-between;
 height: 50px;
 border-bottom: 1px solid var(--very-light-pink);
}
.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
}
.navbar-left .logo {
    width: 100px;
}
.navbar-left .bar-list {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
}
.bar-list ul {
    margin: 10px 10px ;
}
.bar-list a {
    text-decoration: none;
    color: var(--very-light-pink);
    padding: 8px;
}
.bar-list a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 12px;
} 
.navlist-right {
    display: flex;
}
.navbar-cart {
    margin-left: 16px;
    padding: 0 30px 0 0;
}
.cart-items {
    position: absolute;
    font-size: var(--md);
    right: 28px;
    top: 8px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    color: var(--black);
    align-self: center;
    padding: 2px;
}
.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    cursor: pointer;
}
.navbar-email img {
    transform: rotate(90deg);
    margin-left: 10px;
}

/* quita el desktop mmenu*/
.inactive {
    display: none;
}
/*desde aquí es el css del desktop menu*/
.desktop-menu {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    background-color: var(--white);
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

 .desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

/* css del mobile menu*/
.inactive {
    display: none;
}

.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 24px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }

/* Aside style del product view y shopping cart q se abre con el loguito de shopping cart */
aside {
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    background-color: var(--white);
}

/* estilos del shopping cart */
#shoppingCartContainer {
    padding: 0 24px;
    border-radius: 20px;
}
.title-container {
    display: flex;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
    }
    .title {
    font-size: var(--lg);
    font-weight: bold;
    }
    .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    }
    .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
    }
    .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    }
    .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    }
    .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
    }
    .shopping-cart figure {
    margin: 0;
    }
    .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
    }
    .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
    }
    .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
    }
    .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    }

    #shoppingCartContainer .primary-button {
        margin-bottom: 30px;
    }

    /* ProductDetail */
#productDetail {
    padding: 0 24px;
    border-radius: 20px;
}
.product-image img:nth-child(1) {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  #productDetail img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    margin-top: 0;
  }
  #productDetail .product-info {
    margin: 24px 24px 0 24px;
  }
  #productDetail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  #productDetail .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  #productDetail .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  
  /* Product List */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
  }
  .product-card {
    width: 260px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px rgba(168,161,161,0.75);
    box-sizing: border-box;
  }
  .product-card img {
    display: block;
    text-align: center;
    margin: 8px 8px 8px 12px;
    box-sizing: border-box;
    overflow: hidden;
    width: 90%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
  }
  .product-card .product-info figure {
    margin: 0;
  }
  .product-card .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-card .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }


@media (max-width: 640px) {
    .menu {
        display: block;
        margin-left: 30px;
    }
    .logo {
        align-self: center;
    }
    .navbar-left .bar-list {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;  
    }
    aside {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);  
    }
    .product-card {
        width: 160px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
        margin: 8px 8px 8px 10px;
    }

}
@media (min-width: 639px) {
    .mobile-menu {
        display: none;
    }
}